<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <link rel="stylesheet" href="style.css">


</head>

<body>
<div class="container">
    <div class="head"><h1>TypeScript Fundamentals</h1></div>


    <div>
        Open console to see more information
    </div>

<!--    <ul>-->
<!--        <li>-->
<!--            <a href="/index.html">Index</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/fundamentals.html">TypeScript Fundamentals</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/control-flow.html">TypeScript if/else &amp; loop</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/array.html">TypeScript Array</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/functions.html">TypeScript Function</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/object.html">TypeScript Object</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/promise.html">TypeScript Promise</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/exercise/">Bài tập</a>-->
<!--        </li>-->
<!--    </ul>-->
    <div class="app">
        <ul class="list"></ul>
    </div>
    <script src="search.js"></script>
</div>
</body>

</html>

